body {
    font-family: Playfair display;
    font-style: 14px;
    line-height: 1.2;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    opacity: .5;
    transition: .2s;
}

.container {
    width: 100%;
    max-width: 1062px;
    margin: 0 auto;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    min-height: 165px;
    padding: 0;
}

h1 {
    font-family: 'Inconsolata', monospace;
    text-transform: uppercase;
    letter-spacing: 9px;
    padding-top: 70px;
}

.nav {
    padding-top: 100px;
}

.main_nav_link {
    text-decoration: none;
    color: #7c7c7c;
    text-transform: uppercase;
    font-family: Playfair display;
    margin-left: 100px;
}

.main_nav_link:first-child {
    margin-left: 0;
}

/* Main content */

.main_content {
    text-align: left;
    margin-left: 80px;
    padding-top: 118px;
    max-width: 900px;
}

.content_category, .comment_link {
    font-family: ubuntu;
    font-size: 14px;
    color: #b4ad9e;
    text-transform: uppercase;
    text-decoration: none;
}

.comment {
    display: inline block;
    margin-top: 50px;
}

h2 {
    font-size: 30px;
    font-weight: 400;
    color: #626262;
}

.main_pic {
    margin-top: 70px;
    text-align: center;
}

p {
    font-size: 14px;
    color: #626262;
    line-height: 26px;
}

/* News */

.news {
    min-width: 900px;
    width: 100%;
    /* margin-top: 125px;
    margin-left: 80px; */
    display: flex;
    padding: 0;
    margin: 0;
}

.news_list {
    /* display: flex;
    min-width: 900px;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none; */
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 125px;
    min-width: 900px;
    width: 100%;
}

.news_img {
    padding-bottom: 30px;
    width: 420px;
}

.news_list_item {
    width: 420px;
    padding-bottom: 100px;
}

.last_item {
    margin-top: 375px;
}

.btn {
    font-size: 20px;
    border: 1px #626262 solid;
    text-align: center;
    width: 164px;
    height: 60px;
    margin: 0 auto;
}

/* Newsletter */

.newsletter {
    background-color: #f0f0f0;
    text-align: center;
    height: 287px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-top: -1100px;
}

.sign_up {
    display: block;
    padding-top: 73px;
    margin-bottom: 80px;
    color: #000;
    font-size: 30px;
}

input[type=email] {
    border-style: none;
    background-color: transparent;
    font-size: 14px;
    width: 479px;
    height: 26px;
    border-bottom: 1px solid #000;
    padding-bottom: 15px;
}

.paperplane {
    border: none;
    margin-left: -43px;
}

.paperplane_icon {
    transform: rotate(45deg);
}

/* Box */

.box {
    min-height: 1350px;
}

/* Footer */

.main_footer {
    min-height: 100px;
    min-width: 900px;
    width: 100%;
    color: #000;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer_links {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
}

.footer_link {
    margin-right: 15px;
}

.follow_links {
    max-width: 400px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-left: 150px;
}

.footer_p {
    color: #000;
}